.activity{
    display: grid;
    grid-template: 1fr 1fr/ repeat(3, 250px);
    gap: 30px;
    margin-left: 30px;
}

.cards{
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    position: relative;
}

.cards, .cards main{
    border-radius: 15px;
}

.cards main{
    background-color: var(--bg-cards-color);
    height: 190px;
    padding: 30px;
    width: 100%;
    z-index: 0;
}

.cards:hover  main{
    background-color: var(--bg-cards-color-hover);
}

.cards .logo{
    position: absolute;
    top: -10px;
    right: 20px;
}

.cards section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cards section p{
    font-size: 18px;
    font-weight: 500;
}

.cards main > p{
    font-size: 60px;
    font-weight: 300;
    margin-top: 15px;
}

.cards span{
    color: var(--ft-third-color);
    font-size: 14px;
}
